{% extends 'base.html' %}
{% import 'macros.html' as macro%}

<!-- Styles block -->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

<!--content block-->
{% block content %}
<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron">
        <h2 class="lead">“Why Is Having an Elevator Pitch So Important?</h2>
        <p class="lead">You only have 30-60 seconds to make a powerful first impression. The attention span of the average person is just 30 seconds before their mind starts wandering. The other reason is people have less time today. You need to grab them quickly or lose them forever.</p>
        <p><a class="btn btn-warning" href="/create_pitch" role="button">Submit a pitch</a></p>
      </div>
    </div>

    <!--display pitches-->
    <div class="containter">
      <div id="categories">
        <ul style="display: flex; justify-content: space-between;">
          <li><a class="dropdown-item" href="#general">General</a></li>
          <li><a class="dropdown-item" href="#business">Business/start-up</a></li>
          <li><a class="dropdown-item" href="#pick-up">Pick-up lines</a></li>
          <li><a class="dropdown-item" href="#books">Books/movies</a></li>
          <li><a class="dropdown-item" href="#dad-jokes">Dad jokes</a></li>
        </ul>
      </div>
      <div>
        <div class="row">
          <h1>General:</h1>
          <div class="col" id="general">{{ macro.displayPitch(general) }}</div>
        </div>
        <div class="row">
          <h1>Business/tech start-up:</h1>
          <div class="col" id="business">{{ macro.displayPitch(business) }}</div>
        </div>
        <div class="row">
          <h1>Pick up lines:</h1>
          <div class="col" id="pick-up">{{ macro.displayPitch(pick_up) }}</div>
        </div>
        <div class="row">
          <h1>Book/movie ideas:</h1>
          <div class="col" id="books">{{ macro.displayPitch(books) }}</div>
        </div>
        <ul>
          <h1>Dad jokes:</h1>
          <div class="col" id="dad-jokes">{{ macro.displayPitch(dad_jokes) }}</div>
        </ul>
          
      </div> 
    </div>

    <!--footer-->
    <footer class="footer bg-light">
      <div class="container-fluid">
        <span class="text-muted">© 2022:
          <a href="/">Pitch-¡t</a></span>
      </div>
    </footer>
  </div>
</body>
{% endblock %}