{%macro displayPitch(pitch)%}

  {%if pitch%}
    {%for pitches in pitch%}
    <div class="card">
      <div class="card-header">{{pitches.title}}</div>
      <div class="card-body">
        <p class="card-title">{{pitches.content}}</p>
        <p>{{pitches.category}}</p>
        <p>Submitted by:{{pitches.user.username}}</p>
      </div>
      <p><a class="btn btn-warning" href="#" role="button">Leave a comment</a></p>
    </div>
    {%endfor%}
  {%else%}
  <p>There are no pitches in {{pitch.category}} yet</p>
  {%endif%}

{%endmacro%}