<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/"> Pitch-¡t </a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Categories <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#general">General</a></li>
                <li><a class="dropdown-item" href="#business">Business/start-up</a></li>
                <li><a class="dropdown-item" href="#pick-up">Pick-up lines</a></li>
                <li><a class="dropdown-item" href="#books">Books/movies</a></li>
                <li><a class="dropdown-item" href="#dad-jokes">Dad jokes</a></li>
              </ul>
            </li> 
            <ul class="nav navbar-nav navbar-right text-end">
              {% if current_user.is_authenticated %}
              <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
              <li><a href="{{url_for('auth.logout')}}"><button type="button" class="btn btn-outline-light me-2">Sign Out<output></output></button></a></li>
              {% else %}
              <li><a href="{{url_for('auth.login')}}"><button type="button" class="btn btn-warning">Sign in</button></a></li>
              {%endif%}
            </ul>
          </ul>
        </div> 
      </div>
    </div>
  </div>
</div>

